{{!-- views/partials/article/base-article.hbs --}}
<div class="flex flex-col">
  <div class="relative group">
    <a href="/articles/{{ article.id }}" class="absolute inset-0"></a>

    <div class="grid grid-cols-1 bg-white overflow-hidden rounded-lg">
      <div>
        <img
          src="{{ article.thumbnailUrl }}"
          alt="{{ article.title }}"
          class="w-full h-48 object-cover rounded-t-lg md:rounded-none md:rounded-l-lg transition-transform duration-300 group-hover:filter group-hover:brightness-75"
        />
      </div>
      <div class="my-4 flex flex-col justify-between">
        <h2 class="text-xl font-bold leading-tight mb-3 group-hover:underline">
          {{ article.title }}
        </h2>
        <p class="text-gray-700 text-sm leading-relaxed mb-6">{{ article.abstract }}</p>
        <div class="flex items-center text-gray-500 text-xs">
          <span>{{ formatDate article.publishedDate }}</span>
          <span class="mx-2">|</span>
          <a href="/categories/{{ article.categoryId }}" class="text-blue-500 hover:underline z-20">
            {{ article.category }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="border"></div>
</div>
