{{!-- views/partials/article/large-2-article.hbs --}}
<div class="flex flex-col gap-2">
  <div class="relative group">
    <a href="/articles/{{ id }}" class="absolute inset-0"></a>

    <div class="grid grid-cols-[65%_5%_30%]">
      {{!-- Published Date --}}

      <div class="flex flex-col h-full">
        {{!-- Title --}}
        <h2 class="text-2xl font-bold mb-1 group-hover:underline">
          {{ default title "Untitled Article" }}
        </h2>

        <div class="flex flex-row mb-6">
          <a
            href="categories/{{ default article.category_id '#' }}"
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded transition-all duration-300 ease-in-out hover:bg-blue-900 hover:text-white hover:scale-105 hover:shadow-md"
          >
            {{ default article.category "Uncategorized" }}
          </a>

          
        </div>

        {{!-- Abstract --}}
        <p class="text-gray-700 mb-6 text-xl">
          {{ default abstract "No summary available for this article." }}
        </p>

        <div class="flex w-full justify-between">
          <div class="flex items-center">
            <div class="flex gap-2 items-center">
              <img src="/assets/calendar.svg" alt="Calendar Icon" class="h-4 w-4 fill-gray-500" />
              <span class="text-gray-500">{{ formatDate published_at}}</span>
            </div>
            <span class="mx-6">|</span>
            <div class="flex items-center gap-2">
              <img src="/assets/eye.svg" alt="Eye Scan Icon" class="h-4 w-4 fill-gray-500" />
              <div class="text-gray-500">{{ default article.views 0 }} views</div>
            </div>
          </div>

          {{#if article.is_premium}}

          <div class="ml-7 w-24 premium-animation"></div>
          {{/if}}
        </div>
      </div>

      <div></div>

      {{!-- Thumbnail --}}
      <img
        src="{{ default article.thumbnail '/images/default-thumbnail.jpg' }}"
        alt="{{ default article.title 'Untitled Article' }}"
        class="w-full h-64 aspect-[16/9] object-cover rounded-lg border-2"
      />
    </div>
  </div>
  <div class="border"></div>
</div>
