{{!-- views/partials/article/small-carousel-item-article.hbs --}}
<div class="relative grid grid-cols-[40%_2%_58%] group bg-white overflow-hidden">
  <a href="/articles/{{ id }}" class="absolute inset-0"></a>

  {{!-- Thumbnail --}}
  <div>
    <img src="{{ default thumbnail '/images/default-thumbnail.jpg' }}" alt="{{ default title 'Untitled Article' }}"
      class="w-full h-32 object-cover transition-transform duration-300 group-hover:filter group-hover:brightness-75" />
  </div>

  <div></div>

  <div class="space-y-4">
    {{!-- Metadata --}}
    <div class="flex items-center justify-between text-gray-500 text-xs">
      <div class="flex gap-1 items-center">
        <img src="/assets/calendar.svg" alt="Calendar Icon" class="h-3 w-3 fill-gray-500" />
        <span>{{ formatDate published_at }}</span>
      </div>
      <a href="/articles/categories/{{ default category_id '#' }}" class="p-1 z-10 text-blue-500 hover:underline">
        {{ default category "Uncategorized" }}
      </a>
    </div>
    {{!-- Title --}}
    <h2 class="font-semibold leading-tight mb-2 group-hover:underline">
      {{ default title "Untitled Article" }}
    </h2>
    <div class="flex items-center gap-2">
      <div class="text-gray-500 text-xs flex items-center gap-1">
        <img src="/assets/eye.svg" alt="Eye Scan Icon" class="h-3 w-3 fill-gray-500" />
        {{ default views 0 }} views
      </div>
      {{!-- Premium Indicator --}} {{#if is_premium}}
      <div class="w-20 premium-animation"></div>
      {{/if}} {{!-- Views --}}
    </div>
  </div>
</div>