{{!-- views/partials/article-item.hbs --}}
<article class="card bg-base-100 shadow-md">
  <div class="card-body">
    <h2 class="card-title text-2xl">
      <a href="/articles/{{id}}" class="hover:underline">{{title}}</a>
    </h2>
    <p class="text-sm text-gray-500">
      {{#if category}}
      <a href="/categories/{{category.id}}" class="link">{{category.name}}</a>
      <span class="mx-2">|</span>
      {{/if}} {{formatDate published_at}}
    </p>
    <p>{{abstract}}</p>
    <div class="flex flex-wrap gap-2 mt-2">
      {{#each tags}}
      <a href="/tags/{{this}}" class="badge badge-outline">{{this}}</a>
      {{/each}}
    </div>
  </div>
  {{#if thumbnail}}
  <figure class="w-full h-48 overflow-hidden">
    <a href="/articles/{{slug}}">
      <img src="{{thumbnail}}" alt="{{title}}" class="object-cover w-full h-full" />
    </a>
  </figure>
  {{/if}}
</article>
