{{!-- views/partials/category-menu.hbs --}}
<ul class="menu menu-horizontal px-1">
  <li>
    <a href="/" class="{{#if (eq currentCategoryId -1)}}active{{/if}}">Home</a>
  </li>
  {{#each categories}} {{#if subcategories}}
  <li tabindex="0">
    <a class="{{#if (eq id ../currentCategoryId)}}active{{/if}}">
      {{name}}
      <svg
        class="fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        viewBox="0 0 24 24"
      >
        <path d="M6 9l6 6 6-6"></path>
      </svg>
    </a>
    <ul class="p-2 bg-base-100">
      {{#each subcategories}}
      <li>
        <a
          href="/articles/categories/categoryId={{subId}}"
          class="{{#if (eq id ../../currentCategoryId)}}active{{/if}}"
        >
          {{name}}
        </a>
      </li>
      {{/each}}
    </ul>
  </li>
  {{else}}
  <li>
    <a
      href="/articles/categories/categoryId={{id}}"
      class="{{#if (eq id ../currentCategoryId)}}active{{/if}}"
    >
      {{name}}
    </a>
  </li>
  {{/if}} {{/each}}
</ul>
