{{!-- views/partials/category-menu.hbs --}}
<ul class="menu menu-horizontal px-1">
  {{!-- Home Link --}}
  <li>
    <a 
      href="/" 
      class="{{#if (eq currentCategoryId -1)}}text-primary font-bold{{/if}}"
    >
      Home
    </a>
  </li>

  {{!-- Categories --}}
  {{#each categories}}
    <li class="dropdown dropdown-hover">
      {{#if subcategories}}
        {{!-- Category with dropdown --}}
        <a 
          tabindex="0" 
          class="{{#if (eq id ../currentCategoryId)}}text-primary font-bold{{/if}}"
        >
          {{name}}
          <svg 
            class="w-4 h-4 ml-1 inline-block" 
            fill="none" 
            stroke="currentColor" 
            viewBox="0 0 24 24"
          >
            <path 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              stroke-width="2" 
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </a>

        {{!-- Dropdown Content --}}
        <ul class="dropdown-content z-50 menu p-2 shadow bg-base-100 rounded-box w-52">
          {{!-- Parent Category Link --}}
          <li>
            <a 
              href="/articles/filter?categoryId={{id}}"
              class="{{#if (eq id ../../currentCategoryId)}}text-primary font-bold{{/if}}"
            >
              All in {{name}}
            </a>
          </li>

          {{!-- Subcategories --}}
          {{#each subcategories}}
            <li>
              <a 
                href="/articles/filter?categoryId={{id}}"
                class="{{#if (eq id ../../currentCategoryId)}}text-primary font-bold{{/if}}"
              >
                {{name}}
              </a>
            </li>
          {{/each}}
        </ul>
      {{else}}
        {{!-- Category without dropdown --}}
        <a 
          href="/articles/filter?categoryId={{id}}"
          class="{{#if (eq id ../currentCategoryId)}}text-primary font-bold{{/if}}"
        >
          {{name}}
        </a>
      {{/if}}
    </li>
  {{/each}}
</ul>