{{!-- views/partials/pagination.hbs --}}
<nav class="flex justify-center mt-8">
  <ul class="pagination">
    {{!-- Previous Button --}} {{#compare currentPage '>' 1}}
    <li>
      <a
        href="?page={{subtract currentPage 1}}{{#if query}}&query={{query}}{{/if}}"
        class="btn btn-outline"
        >«</a
      >
    </li>
    {{/compare}} {{!-- Page Numbers --}} {{#each (paginationPages currentPage totalPages)}}
    <li>
      <a
        href="?page={{this}}{{#if ../query}}&query={{../query}}{{/if}}"
        class="btn {{#if (eq this ../currentPage)}}btn-active{{else}}btn-outline{{/if}}"
      >
        {{this}}
      </a>
    </li>
    {{/each}} {{!-- Next Button --}} {{#compare currentPage '<' totalPages}}
    <li>
      <a
        href="?page={{add currentPage 1}}{{#if query}}&query={{query}}{{/if}}"
        class="btn btn-outline"
        >»</a
      >
    </li>
    {{/compare}}
  </ul>
</nav>
