{{!-- views/partials/pagination.hbs --}}
<div class="btn-group">
  {{#if hasPrev}}
  <a href="?page={{prevPage}}" class="btn">«</a>
  {{else}}
  <button class="btn btn-disabled">«</button>
  {{/if}} {{#each pages}} {{#if (eq this ../currentPage)}}
  <button class="btn btn-active">{{this}}</button>
  {{else}}
  <a href="?page={{this}}" class="btn">{{this}}</a>
  {{/if}} {{/each}} {{#if hasNext}}
  <a href="?page={{nextPage}}" class="btn">»</a>
  {{else}}
  <button class="btn btn-disabled">»</button>
  {{/if}}
</div>
