{{!-- views/writer/edit-article.hbs --}}
<div class="container mx-auto p-8 bg-white rounded-lg shadow-lg">
  <h1 class="text-4xl font-bold mb-6 text-gray-800">Edit Article</h1>
  <form
    action="/writer/articles/edit/{{article.id}}"
    method="POST"
    class="space-y-6"
    id="editArticleForm"
  >
    <!-- Title -->
    <div class="form-control">
      <label class="label" for="title">
        <span class="label-text text-lg font-semibold">Title</span>
      </label>
      <input
        type="text"
        name="title"
        id="title"
        class="input input-bordered w-full"
        value="{{article.title}}"
        required
      />
    </div>

    <!-- Abstract -->
    <div class="form-control">
      <label class="label" for="abstract">
        <span class="label-text text-lg font-semibold">Abstract</span>
      </label>
      <textarea
        name="abstract"
        id="abstract"
        class="textarea textarea-bordered w-full"
        placeholder="Provide a brief summary"
        required
      >
        {{article.abstract}}

      </textarea>
    </div>

    <!-- Content -->
    <div class="form-control">
      <label class="label" for="content">
        <span class="label-text text-lg font-semibold">Content</span>
      </label>
      {{!-- Hidden input because quill content isn't registered to form directly --}}
      <input type="hidden" name="content" id="hiddenContent" value="{{article.content}}" />
      <div id="content">{{{article.content}}}</div>
    </div>

    <!-- Thumbnail -->
    <div class="form-control">
      <label class="label" for="thumbnail">
        <span class="label-text text-lg font-semibold">Thumbnail</span>
      </label>
      <input
        type="text"
        name="thumbnail"
        id="thumbnail"
        class="input input-bordered w-full"
        value="{{article.thumbnail}}"
        placeholder="URL of the thumbnail image"
      />
      <img src="{{article.thumbnail}}" alt="Thumbnail" class="mt-2 max-w-[200px] h-auto" />
    </div>

    <!-- Category -->
    <div class="form-control">
      <label class="label" for="category">
        <span class="label-text text-lg font-semibold">Category</span>
      </label>
      <select name="category_id" id="category" class="select select-bordered w-full" required>
        <option value="" disabled selected>Select a category</option>
        {{#each categories}}
        <option value="{{this.id}} {{#if (eq this.id article.category_id)}}selected{{/if}}">
          {{this.name}}
        {{/each}}
      </select>
    </div>

    {{!-- Premium --}}
    <div class="form-control">
      <label class="label cursor-pointer">
        <span class="label-text text-lg font-semibold">Is Premium</span>
        <input type="checkbox" name="is_premium" class="checkbox checkbox-primary" {{#if article.is_premium}}checked{{/if}} />
      </label>
    </div>

    <!-- Submit Button -->
    <div class="form-control">
      <button type="submit" class="btn btn-primary w-full">Edit Article</button>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.js"></script>
<link href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/quill-image-uploader/dist/quill.imageUploader.min.js"></script>
<script>
  Quill.register('modules/imageUploader', window.ImageUploader)
  const quill = new Quill('#content', {
    theme: 'snow',
    modules: {
      toolbar: [
        ['bold', 'italic', 'underline'],
        [{ header: [1, 2, 3, false] }],
        [{ list: 'ordered' }, { list: 'bullet' }],
        ['image'],
      ],
      imageUploader: {},
    },
  })
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('#editArticleForm')
    const hiddenContent = document.querySelector('#hiddenContent')
    if (form) {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        hiddenContent.value = quill.root.innerHTML.trim()
        form.submit()
      })
    } else {
      console.error('Form element not found.')
    }
  })
</script>
